*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #000000;
}

/* COMMON */
.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
}

.between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.align{
    align-items: center;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.block{
    display:inline-block;
}

.margin-l{
    margin-left: 10px;
}

.btn{
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
}
/* END COMMON */

/* NAV */
nav{
    height: 70px;
    width: 100%;
    text-align: right;
    padding-top: 5px;
}

.fa-th{
    margin-right: 2px;
}
/* END NAV */

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 140px);
}

.contain{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.user{
    background-image: url(../img/image.jpg);
    height: 100px;
    width: 170px;
    margin: 10px;
}

.mute{
    bottom: 0px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 50%);
}

/* END MAIN */

/* FOOTER */
footer{
    width: 100%;
    height: 70px;
    background-color: #222222;
}

.foot-right{
    background-color: #4a4a4a;
    padding: 0px 15px;
}

.fa-share-square{
    color: #4bc800;
}

.end{
    line-height: 70px;
    vertical-align: middle;
    color: red;
}
/* END FOOTER */